Package: com.korboy.ipadecrypt
Name: ipadecrypt
Version: 0.7.3-korboy.2
Architecture: iphoneos-arm64
Description: On-device IPA decrypter.
Maintainer: Korboy
Author: Korboy
Section: Applications
Icon: https://korboybeats.github.io/icons/ipadecrypt.png
